<div class="jumbotron flag-container">
  <div class="container text-center">
    <h2>Meet The DREAMers of America</h2>
    <p>{{userCount}} DREAMers and counting!</p>
    <div class="progress">
      <div class="progress-bar progress-bar-danger" style="width:{{progressPercent}}%;">{{userCount}}</div><p style="float:right">{{goal}}&nbsp</p>
    </div>
    <button type="button" class="btn btn-primary btn-lg" ng-click="signUp()" ng-hide="userLoggedIn">Join the Dream!</button>
  </div>
</div>
<div class="container">
  <div class="row" ng-show="randomUser.fbUsername">
    <h2 class="text-center">
      DREAMer: An highly skilled and resourceful individual who wants to be a part of the United States. Meet a DREAMer below.
    </h2>
    <div class="row text-center">
      <button type="button" class="btn btn-primary btn-lg" ng-click="fetchRandomDreamer()">Meet Another DREAMer</button>
    </div>
  </div>
  <hr class="featurette-divider">
    <div class="row" ng-show="randomUser.fbUsername">
      <div id="load-container">
        <img id="loading" src="img/loading.gif"/>
      </div>
      <div id="shell"></div>
      <div class="userContent col-xs-5">
        <a href="#profile/{{randomUser.id}}"><img class="featurette-image img-responsive" src="https://graph.facebook.com/{{randomUser.fbUsername}}/picture?width=200&height=200"></a>
      </div>
      <div class="userContent col-xs-7">
        <a href="#profile/{{randomUser.id}}" class="featurette-heading"><h2>{{randomUser.name}}</h2></a>&nbsp&nbsp&nbsp<a href="http://facebook.com/{{randomUser.fbUsername}}"><img src="img/fb_logo.jpeg" style="position:relative;top:-10px"></a>
          <h4>
            Description: {{randomUser.description}}<button type="button" class="btn btn-primary" ng-click="signUp()" ng-hide="userLoggedIn" style="float:right">Connect with {{randomUser.name}}!</button><br> 
            Nationality: {{randomUser.nationality}}<br>
            Interests: {{randomUser.interests}}<br>
          </h4>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
      <div class="col-md-12">
        <h2>dreamers thrive and contribute across the country:</h2>
      </div>
      <div class="jumbotron us-map">
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
      <div class="col-md-12">
        <h2>from all over the world:</h2>
      </div>
      <div class="jumbotron world-map">
      </div>
    </div>
  </div>
</div> <!-- /container -->
